.Calendar {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.componentBox {
    /*width: 400px;*/
    margin: 0 0 20px 0;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.boxTitle {
    margin: 0 0 10px 0;
}

.closeButton {
    background-color: transparent;
    width: 32px;
    height: 32px;
}
.closeButton img {
    width: 24px;
    height: 24px;
}

h2 {
    margin: 0;
}

h3 {
    margin-bottom: 10px;
}

p {
    margin: 5px 0;
}