.App {
  width: 100vw;
  height: 100vh;
}

.Content {
  overflow: auto;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 150px);
  height: 100%;
  margin-left: 150px;
  padding: 0 20px 20px 20px;
}