.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Content {
  width: calc(100vw - 150px);
  height: 100vh;
  margin-left: 150px;
  padding-left: 20px;
}