:root {
  --nav-width: 150px;
}

.App {
  width: 100vw;
  height: 100vh;
}

.Content {
  overflow: auto;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - var(--nav-width));
  height: 100%;
  margin-left: var(--nav-width);
  padding: 0 20px 20px 20px;
}


/* Hide sidebar for small screens */
@media screen and (max-width: 700px) {
  :root {
    --nav-width: 0;
  }
}