.animal-table {
    border-collapse: collapse;
    margin: 20px 20px 0 0;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    width: 85vw;
}
.animal-table table {
    display: table;
    table-layout: fixed;
    width: 100%;
}
.animal-table thead tr {
    margin: 25px 0;
    background-color: rgb(32, 137, 222);
    text-align: left;
    font-weight: bold;
}
.animal-table th, .animal-table td {
    padding: 12px 15px;
}
.animal-table tbody tr{
    border-bottom: 1px solid #dddddd;
}
.animal-table tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}
.animal-table tbody tr:last-of-type{
    border-bottom: 2px solid rgb(32, 137, 222);
}
.animal-table input {
    max-width: 95%;
}