.tab-container {
    display: flex;
    justify-content: left;
    padding-left: 2px;

}

.tab-container button {
    margin: 0 5px 0 0 ;
    border-style: line;
    min-width: 100px;
    border-radius: 5px 5px 0 0;
}

.tab-container button:hover {
    animation-name: wiggle;
    animation-duration: 200ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes wiggle {
    from {
        transform: rotate(-2deg);
    }
    to {
        transform: rotate(2deg);
    }
}