.sidebar {
    height: 100vh;
    width: 150px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 40, 1);
    overflow-x: hidden;
    padding-top: 20px;
}

.sidebar a {
    padding: 5px 5px 10px 20px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

/* // On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size)
@media screen and (min-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 15px;}
}
*/
